<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular To Do App</title>
    
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet">
    
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/scripts.js"></script>
    
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <h1>My To Do List</h1>
    <div class="list" ng-repeat="todo in todos">
        <label for="todoName" ng-click="edit = !edit" ng-hide="edit" ng-class="{'striked':todo.checked}"> {{todo.name}} </label>
        <input type="text" class="nameInput" name="todoName" ng-model="todo.name" ng-hide="!edit">
        <input type="checkbox" class="checkbox" ng-model="todo.checked">
        <img src="img/edit.png" ng-click="edit = !edit">
        <img src="img/delete.png" ng-click="removeTodo($index)">
    </div>
    <div class="new-task">
        <h3 ng-click="addTodo()"><span>+</span>Add new task</h3>
    </div>
</body>
</html>
